name: Cron Scheduler

on:
  schedule:
    # Run daily at 10:00 AM UTC
    - cron: '0 10 * * *'
  workflow_dispatch: # Allow manual trigger from GitHub Actions tab

jobs:
  trigger-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cron Endpoint
        run: |
          curl -X GET ${{ secrets.VERCEL_PROJECT_PRODUCTION_URL }}/api/cron/master \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}" \
          --fail
